*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(37, 180, 236);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(20, 85, 146);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page4{
    height: 100%;
    width: 100%;
    background-color: rgb(8, 40, 70);
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}