body{
    background-color: black;
}

h1{
    color: blue;
    border-bottom-style: dotted;
    border-top-style:solid;
    border-left-style:double;
    border-left-width:10px ;
    border-bottom-width:15px ;
    border-bottom-color: white;
    padding: 10px;
}

p{
    color: aqua;
    background-color: gray;
    border-style:double;
    border-color: rgb(240, 7, 7);
    border-width: 10px;
    border-radius: 10px;
    padding: 10px;
}

#h11{
    color: rgb(238, 226, 13);
    font-size: 80px;
    font-family: "Sevillana", "consolas", sans-serif; 
}

#h22{
    color: rgb(168, 12, 220);
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.odd{
    color: blue;
    background-color: white;
    text-decoration: wavy underline;
}

.even{
    color: yellow;
    background-color: green;
    text-decoration: dotted underline;
}
