#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

#part2{
    display: flex;
    gap: 50px;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    white-space: nowrap; /* yesle chai 2 3 ta line ma vako lai eutai ma lyauxa */
}